<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3">
          <app-tarjeta-input></app-tarjeta-input>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3">
            <ion-list *ngIf="gastos.length">
              <ion-list-header>
                <ion-label>Gastos</ion-label>
              </ion-list-header>
              <ion-item *ngFor="let gasto of gastos">
                <app-tarjeta-display [id]="gasto.id" [descripcion]="gasto.gasto" [precio]="gasto.precio"></app-tarjeta-display>
              </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="!gastos.length">
      <ion-col class="ion-padding" size-sm="8" offset-sm="2" size-md="6" offset-md="3">
          <p>No hay gastos guardados aún!</p>
          <p>Ingresa un nuevo gasto para ir conformando una lista.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
